@charset "utf-8";

@import "bourbon";
@import "normalize";
@import "fonts";

$blue: #27B5D9;
$bg: #F2F2ED;
$red: #C6050D;

* {
  &, &:before, &:after {
    @include box-sizing(border-box);
  }
}

::selection {
  background: transparent;
  color: $blue;
}
::-moz-selection {
  background: transparent;
  color: $blue;
}

body {
  @include display(flex);
  font-size: (14em/16);
  font-family: 'Inconsolata', sans-serif;
  color: #222;
  background: $bg;
  line-height: 1.5;
  min-height: 100vh;
  @include flex-direction(column);
}

#page {
  @include flex(1);
}

#content {
  max-width: 500px;
  margin: 0 auto 2em;
  padding: 0 1em;
}

header {
  text-align: center;
  margin: 4em 0 6em;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 3.75em;
  color: $red;
  margin: 0;
  i {
    font-size: (48em/53);
    color: darken($bg, 15%);
  }
}

h2 {
  font-size: (16em/14);
  margin: 0;
  color: #888;
  letter-spacing: 0.05em;
}

#generator {
  margin-bottom: 1em;
  @include clearfix();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

label {
  position: relative;
  display: block;
  float: left;
  margin-right: 0.5em;
  .input-label {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #888;
  }
}

input[type="number"], select {
  display: block;
  height: 4em;
  background: #fff;
  // border: 1px solid darken($bg, 15%);
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  padding: 0.5em;
  &:hover {
    border-color: darken($bg, 5%);
  }
  &:focus {
    border-color: $blue;
    outline: 0;
  }
}

input[type="number"] {
  width: 4em;
  cursor: pointer;
}

select {
  @include appearance(none);
  padding-left: 1em;
  padding-right: 1em;
  option {
    text-align: center;
  }
}

input[type="submit"] {
  height: 4em;
  text-align: center;
  padding: 0.5em 1.5em;
  min-width: 8em;
  background: $blue;
  color: #fff;
  border: 3px solid $blue;
  border-radius: 2px;
  float: right;
  &:focus {
    border-color: darken($blue, 5%);
    outline: 0;
  }
  &:hover {
    border-color: darken($blue, 7%);
  }
  &:active {
    background: darken($blue, 7%);
  }
}

#blurb {
  opacity: 0;
  padding: 1em 1.5em;
  background: #fff;
  // border: 1px solid darken($bg, 15%);
  border-radius: 2px;
  text-align: justify;
  color: #222;
  @include transition(opacity .3s $ease-in-out-quart);
  &.active {
    opacity: 1;
  }
  > div {
    @include transition(opacity .3s $ease-in-out-quart);
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
}

footer {
  .inner {
    max-width: 500px;
    padding: 0.5em 1em;
    font-size: (12em/14);
    margin: 0 auto;
    @include display(flex);
    @include justify-content(space-between);
    color: #aaa;
    cursor: default;
    a {
      color: #aaa;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
    .left {
      @include flex(1);
      a {
        text-decoration: underline;
      }
    }
    .right {
      @include flex(1);
      text-align: right;
      .hide {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }
    }
  }
}
