@charset "utf-8";

@import "bourbon";
@import "normalize";
@import "fonts";

$blue: #27B5D9;
$bg: #F2F2ED;
$red: #C6050D;

// GLOBAL
// --------------------------------------------------

* {
  &, &:before, &:after {
    @include box-sizing(border-box);
  }
}

::selection {
  background: transparent;
  color: $blue;
}
::-moz-selection {
  background: transparent;
  color: $blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  @include display(flex);
  font-size: (14em/16);
  font-family: 'Inconsolata', sans-serif;
  color: #222;
  background: $bg;
  line-height: 1.5;
  min-height: 100vh;
  @include flex-direction(column);
}

#page {
  @include flex(1);
}

@include keyframes(fade-in) {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

#content {
  max-width: (500em/14);
  margin: 0 auto 2em;
  padding: 0 1em;
  position: relative;
}

// HEADER
// --------------------------------------------------

header {
  text-align: center;
  @include animation(fade-in 1s $ease-in-out-quart);
  @include animation-fill-mode(backwards);
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  color: $red;
  margin: 0;
  i {
    color: darken($bg, 15%);
    font-size: (48em/53);
  }
}

h2 {
  font-weight: normal;
  margin: 0;
  color: #888;
  letter-spacing: 0.05em;
}

h3 {
  position: absolute;
  right: -6em;
  top: -10em;
  @include transition(top 0.5s $ease-in-out-quart);
}

// FORM
// --------------------------------------------------

#generator {
  @include display(flex);
  @include flex-wrap(wrap);
  margin: 0 -0.25em;
  margin-bottom: 1em;
  @include animation(fade-in 1s $ease-in-out-quart 0.1s);
  @include animation-fill-mode(backwards);
}

label {
  @include flex(1);
  @include flex-shrink(0);
  @include flex-grow(0);
  position: relative;
  @include display(flex);
  .input-label {
    position: absolute;
    font-size: (10em/14);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #888;
  }
}

input, select {
  @include appearance(none);
  @include flex(1);
  background: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 0.25em;
  &:hover {
    border-color: darken($bg, 5%);
  }
  &:focus {
    border-color: $blue;
    outline: 0;
  }
}

input[type="number"] {
  text-align: center;
  cursor: pointer;
}

input[type="submit"] {
  @include flex(1);
  @include flex-shrink(0);
  text-align: center;
  background: $blue;
  color: #fff;
  border: 3px solid $blue;
  border-radius: 2px;
  &:focus {
    border-color: darken($blue, 5%);
    outline: 0;
  }
  &:hover {
    border-color: darken($blue, 7%);
  }
  &:active {
    background: darken($blue, 7%);
  }
}

#blurb {
  padding: 1em 1.5em;
  opacity: 0;
  background: #fff;
  border-radius: 2px;
  text-align: justify;
  color: #222;
  @include transition(opacity .3s $ease-in-out-quart);
  &.active {
    opacity: 1;
  }
  > div {
    @include transition(opacity .3s $ease-in-out-quart);
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
}

footer {
  .inner {
    max-width: (500em/12);
    padding: 1em;
    font-size: (12em/14);
    margin: 0 auto;
    @include display(flex);
    @include justify-content(space-between);
    color: #aaa;
    cursor: default;
    a {
      color: #aaa;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
    .left {
      @include flex(1);
      a {
        text-decoration: underline;
      }
    }
    .right {
      @include flex(1);
      text-align: right;
      .hide {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }
    }
  }
}


@media screen and (max-width: 569px) {

  // HEADER

  header {
    padding: 2em 0;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 0.875em;
  }

  h3 {
    display: none;
  }

  // FORM

  label {
    &.num {
      @include flex-basis(50%);
    }
    &.input {
      @include flex-basis(100%);
    }
    .input-label {
      top: 12px;
      right: 12px;
    }
  }

  input, select {
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 430px) and (max-width: 569px) {

  header {
    padding: 2em 0 3em;
  }

  h1 {
    font-size: 3.25em;
  }

  h2 {
    font-size: 1em;
  }

}

@media screen and (min-width: 570px) {

  // HEADER

  header {
    padding: 4em 0 6em;
  }

  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: (16em/14);
  }


  // FORM

  label {
    &.num {
      @include flex-basis((63em/14));
    }
    &.input {
      @include flex-basis((117em/14));
    }
    .input-label {
      top: 10px;
      left: 12px;
    }
  }

  input, select {
    padding: (18em/14);
  }

  input[type="submit"] {
    @include flex-basis((117em/14));
    margin-left: auto;
    max-width: 10em;
  }


  // FOOTER


}

@media screen and (min-width: 720px) {
  h3 {
    font-weight: normal;
    top: -2em;
    width: (114em/16);
    height: (114em/16);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA1MCA0OC43IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MCA0OC43IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMjUsNC40IDMwLjYsMCAzMy43LDYuNCA0MC42LDQuOCA0MC42LDExLjkgNDcuNSwxMy41IDQ0LjUsMTkuOSA1MCwyNC40IDQ0LjUsMjguOCA0Ny41LDM1LjINCgk0MC42LDM2LjggNDAuNiw0My45IDMzLjcsNDIuNCAzMC42LDQ4LjcgMjUsNDQuNCAxOS40LDQ4LjcgMTYuMyw0Mi40IDkuNCw0My45IDkuNCwzNi44IDIuNSwzNS4yIDUuNSwyOC44IDAsMjQuNCA1LjUsMTkuOQ0KCTIuNSwxMy41IDkuNCwxMS45IDkuNCw0LjggMTYuMyw2LjQgMTkuNCwwICIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: $blue;
    padding-top: (36em/16);
    line-height: 1;
    @include transform(rotate(15deg));
    .up, .down {
      display: block;
      font-size: (10em/16);
    }
    em.real {
      display: block;
      text-transform: uppercase;
      text-decoration: underline;
      font-style: normal;
      font-size: (14em/16);
      margin: (4em/16) 0 (5em/16);
    }
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 16px;
  }
}
