%form#generator{:name=> 'generator'}
  %label{:for => "beds"}
    .input-label Beds
    %input{:type => "number", :name => "beds", :value => 1, :max => 6, :min => 1}
  %label{:for => "baths"}
    .input-label Baths
    %input{:type => "number", :name => "baths", :value => 1, :max => 6,  :min => 1}
  %input#submit{:type => "submit", :value => 'generate'}
#blurb
  .inner
